
old-project/gen/com/example/propertyanimsecdemo/BuildConfig.java

old-project/bin/res/crunch/drawable-xhdpi/lus.png

old-project/bin/res/crunch/drawable-xxhdpi/ic_launcher.png

old-project/bin/res/crunch/drawable-xhdpi/icon_xiao_hua.png

old-project/bin/MainActivity.apk

gradle-project/build/generated/mockable-android-21.jar

gradle-project/build/intermediates/dex-cache/cache.xml

gradle-project/.gradle/2.10/taskArtifacts/cache.properties

gradle-project/.gradle/2.10/taskArtifacts/cache.properties.lock

gradle-project/.idea/.name

gradle-project/.gradle/2.10/taskArtifacts/*.bin

gradle-project/.idea/*

gradle-project/app/build/*

